
asgiref
beautifulsoup4
build
certifi
cffi
charset-normalizer
click
cryptography
defusedxml
deprecated
diff-match-patch
django
django-filter
django-import-export
django-livereload-server
django-modelcluster
django-oauth-toolkit
django-permissionedforms
django-taggit
django-treebeard
djangorestframework
et-xmlfile
gunicorn
heroicons
idna
jwcrypto
markuppy
oauthlib
odfpy
openpyxl
packaging
pip-tools
pycparser
pyjwt
pyproject-hooks
python-decouple
python3-openid
pytz
pyyaml
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
tablib
tomli
tornado
urllib3
wheel
wrapt
xlrd
xlwt